@font-face{
    font-family: 'Gilroy-Light';
    font-style:normal;
    font-weight: 400;
    src:url('../fonts/Gilroy-Light.otf');
}

.container{
    max-width: 1170px;
    min-width: 420px;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: black;
}

body{
    font-family: 'Gilroy-Light';
}

.menu_list-item :hover{
    border-bottom: 1px solid #231F20;
}

.holidays img{
    width: 100%;
}

/* Buttons */

.button{
    text-align: center;
    width: 170px;
    padding: 15px;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid black;
    border-radius: 5px;
}

.button_orange-text{
    color: #F7941E;
    border-color: #F7941E;
}

.button_orange-text:hover{
    color: white;
    background-color: #F7941E;
}
 

/* Menu */

.header{
    padding: 0 35px;
    height: 115px;
}

.header_inner{
    display: flex;
    align-items: center;
    height: 115px;
}

.header .menu{
    margin: 0 auto;
    width: 350px;
}

.header .menu_list{ 
    display: inline-flex;
    flex-wrap: wrap;
    column-gap: 30px;
}

.menu a{
    width: 50px;
    font-size: 18px;
}

.logo img{
    max-width: 100%; 
}

.header .menu .logo{
    margin-left: 50px;
}

.button_header{
    width: 120px;
}


/* Main */

.img_text_block{
    display: flex;
    background-color: #F1F1F2;
}

.main_block-words{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main_block-words article{
    width: 433px;
}

.main_block-words h1{
    font-weight: bold;
    font-size: 56px;
    margin-bottom: 40px;
    line-height: 68px;
}

.main_block-words h2{
    font-size: 32px;
    margin-bottom: 20px;
}

.main_block-words p{
    font-size: 20px;
    margin-bottom: 55px;
    line-height: 30px;
}

.main_block-img{
    width: 50%;
}

.main_block-img img{
    width: 100%;
    margin-bottom: -5px;
}

.button_blocks{
    color: white;
    border-color:  #F7941E;
    background-color: #F7941E;
}


.button_blocks:hover{
    color:  #F7941E;
    background-color: inherit;
}

.button_padding{
    padding: 20px 40px;
}

/* Holidays */

.holidays{
    padding: 100px;
    background-color: white;
}

.holidays h1{
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}

.holidays h2{
    margin-bottom: 65px;
    text-align: center;
}

.holidays_types{
    display: flex;
    justify-content: space-between;
}

.holiday_type{
    width: 240px;
    border: 1px solid rgb(216, 216, 216);
    padding-bottom: 25px;
}

.holiday_type h2{
    margin: 25px 25px 70px 25px;
    text-align: left;
    font-size: 20px;
}

.holiday_type a{
    text-align: left;
    margin: 25px;
}

.holiday_type i{
    margin-left:10px ;
}

.holiday_type:hover{
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
}

/* Get started */

.get_started{
    background-color: #F7941E;
}

.art{
    display: inline-block;
    margin-right: 100px;
    padding: 100px;
}

.art h1, .art h2{
    padding-bottom: 10px;
    font-size: 32px;
    text-align: start;
}

.art h1{
    font-weight: bold;
}

.get_started-buttons .div_buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.get_started-buttons{
    margin: auto 0;
}

.get_started-inner{
    display: flex;
    width: 100%;
}

.grey_button{
    color:white;
    background-color: #231F20;
    border-color: #231F20;
}

.grey_button:hover{
    color:#231F20;
    background-color: inherit;
    border-color: #231F20;
}

.or_to_grey:hover{
    color:white;
    background-color: #231F20;
    border-color: #231F20;
}

/* White block */

.about_blog{
    padding: 100px;
}

.about_blog *{
    margin: 0 auto;
    text-align: center;
}

.about_blog h1{
    margin-bottom: 25px ;
    font-size: 32px;
}
/* Grey block */

.grey_block{
    background-color: #231F20;
    display: flex;
}

.grey_block a,.grey_block article{
    color: white;
}

.grey_block article{
    padding: 65px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.grey_block h5{
    font-size: 14px;
}

.grey_block h1{
    font-size: 48px;
}

.grey_block a{
    width: 100px;
    font-size: 18px;
}

/* Info block */

.info_block{
    padding-top: 100px;
}

.info{
    display: flex;
    column-gap: 30px;
    margin-bottom: 200px;
}

.info h1{
    line-height: 33px;
    font-size: 24px;
    font-weight: bold;
}

.info p{
    font-size: 18px;
    line-height: 25px;
}

.info a{
    font-size: 14px;
}

.info article *{
    margin-bottom: 15px;
    text-align: left;
}

.info article{
    width: 470px;
    padding: 50px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
    border: 1px solid rgb(228, 227, 227,0.5);
}

/* Footer */

.small_container{
    max-width: 1000px;
    border-bottom: 1px solid #231F20;
    margin:  0 auto;
}

.footer_menu .menu_list{
    display: inline-flex;
    column-gap: 30px;
   
}

.footer_inner{
    display: flex;
    padding-bottom: 55px;
    justify-content: center;
}

.footer_menu .logo{
    width: 100%;
}

.logo_img{
    margin:0 140px;
}
/* 
.footer_menu .menu_list-item{
    justify-content: space-between;
} */

/* Contact media */

.media_contact {
    padding: 55px;
    display: flex;
    justify-content: center;
}

.media_contact a{
    display: inline-block;
    /* width: 60px; */
    margin-right: 25px;
}

.media_contact i{
    padding: 10px;
    background-color: black;
    color:white;
    border-radius: 50%;
}